.yuzu-item {
  display: grid;
  grid-template-columns: 64px minmax(0px, 1fr);
  grid-template-rows: 1fr;
  column-gap: 16px;
  padding: 8px 24px 0px 16px;
}

.yuzu-left {
  grid-column: 1;
}

.yuzu-right {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yuzu-message-box {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  color: white;
  background-color: rgb(76, 91, 112);
  border-radius: 10px;
  max-width: 100%;
  width: fit-content;
  padding: 8px;
}

.yuzu-image-box {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid rgb(231, 235, 236);
  max-width: 75%;
}

.yuzu-image-box.yuzu-stamp {
  width: 40%;
}

.yuzu-message {
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-break: loose;
  font-weight: 400;
}

.yuzu-message img {
  width: 100%;
}

.yuzu-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.yuzu-avatar-box {
  width: 64px;
  height: 64px;
}

.yuzu-avatar-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.04);
}

.yuzu-item.yuzu-player-item {
  column-gap: 24px;
  justify-items: flex-end;
  padding: 16px 16px 0;
}

.yuzu-player-box {
  grid-column: 2;
}

.yuzu-message-box.yuzu-player-box {
  background-color: rgb(74, 138, 202);
}

.yuzu-message-box.yuzu-avatar-message-box::before {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  left: -5px;
  border-width: 5px 5px 5px 0;
  border-color: transparent rgb(76, 91, 112) transparent transparent;
}

.yuzu-message-box.yuzu-player-box::before {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  right: -5px;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgb(74, 138, 202);
}

.yuzu-insert-indicator {
  margin: 10px 80px 0 80px;
  height: 2px;
  border-top: #a2a2a2 dashed 1px;
}

.yuzu-item.yuzu-special-item {
  padding: 16px 24px 0 16px;
}

.yuzu-kizuna-item {
  grid-column: 2;
  position: relative;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  background-color: transparent;
  padding: 16px;
  overflow: hidden;
  z-index: 1;
}

.yuzu-kizuna-header {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 8px;
}

.yuzu-kizuna-header .text {
  color: rgb(76, 91, 112);
  font-size: 18px;
  font-weight: bold;
  border-left: 2px solid rgb(255, 146, 164);
  padding: 0 8px;
}

.yuzu-kizuna-heart {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-color: rgb(255, 237, 241);
  z-index: -1;
  text-align: right;
}

.yuzu-kizuna-footer {
  margin-top: 8px;
}

.yuzu-kizuna-footer .text {
  position: relative;
  width: 100%;
  padding: 8px 0;
  border-radius: 5px;
  border: 1px solid rgb(255, 146, 164);
  background-color: rgb(255, 146, 164);
  color: white;
  font-size: 16px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.yuzu-kizuna-footer .text::after,
.yuzu-reply-choices .text::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 4px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  filter: blur(2px);
  z-index: -1;
}

.yuzu-reply-item {
  grid-column: 2;
  position: relative;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  background-color: rgb(243, 247, 248);
  padding: 16px;
  overflow: hidden;
  z-index: 1;
}

.yuzu-reply-header {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 8px;
}

.yuzu-reply-header .text {
  color: rgb(76, 91, 112);
  font-size: 18px;
  font-weight: bold;
  border-left: 2px solid rgb(52, 147, 249);
  padding: 0 8px;
}

.yuzu-reply-choices {
  margin-top: 8px;
}

.yuzu-reply-choice:not(:last-of-type) {
  margin-bottom: 8px;
}

.yuzu-reply-choice {
  position: relative;
  padding: 8px;
  min-height: 24px;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: rgb(76, 91, 112);
  border: 1px solid rgb(231, 235, 236);
  background-color: white;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.yuzu-narration-item {
  grid-column: 1 / span 2;
  padding: 12px;
  text-align: center;
}

.yuzu-narration-item .text {
  color: rgb(76, 91, 112);
  font-size: 18px;
  font-weight: bold;
  white-space: pre-wrap;
}

@media (max-width: 800px) {
  .yuzu-item {
    grid-template-columns: 48px minmax(0px, 1fr);
  }

  .yuzu-avatar-box {
    width: 48px;
    height: 48px;
  }

  .yuzu-name {
    font-size: 16px;
  }
}
