.char-list-item::after {
  content: "";
  border-bottom: #BBB 1px dashed;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
}

.top-bar .MuiOutlinedInput-root svg {
  color: inherit;
}

.top-bar .MuiOutlinedInput-root fieldset,
.top-bar .MuiOutlinedInput-root:hover fieldset {
  border-color: inherit !important;
}

@media (max-width: 600px) {
  .top-bar h5 {
    font-size: 24px;
  }

  div.MuiBox-root {
    top: 56px;
  }
}

.stamp-btn {
  width: 60px;
  height: 60px;
}

#chat-area {
  user-select: none;
}
